#navbar{
  background-color: grey;
  opacity:0.8;
  margin:0px;
  position: fixed;
  top:0px;
  padding:0px;
  overflow:hidden;
  width:100%;
  margin:0px;
  display:block;
  left:0px;
  height:70px;
}
#logo{
  display:block;
  margin-left: 60px;

}
body{
  background-image:url("../images/background.png");
  position: relative;
  min-height: 100%;
}
p{
  font-family: "Comic Sans MS";
  font-size: 12px;
  color: white;
}
#host{
  display: block;
  position:absolute;
  left:30px;
  bottom:-5px;
}
.footer{
  display:block;
  position:relative;
  background-color:grey;
  width:101.236%;
  bottom:-8px;
  left:-8px;
  height:30px;
  overflow: hidden;
}
p a:link,p a:visited{
  color:inherit;
}
h2{
  text-align: center;
  display: block;
  color:black;
  position: relative;
  top:90px;
<<<<<<< HEAD
  font-family: "Comic Sans MS", "Microsoft YaHei UI", "Meiryo";
}
.slink{
  display:block;
  position:relative;
  margin:12px 50px;
  height:120px;
  width:600px;
  border-radius: 50px 15px;

}
.slink:hover{
  opacity:0.8;
}
#facebook{
  float:left;
  top:144px;
  background-color:#3b5998;
}
#twitter{
  float:right;
  background-color:#4099ff;
}
#instagram{
  float:left;
  background-image: url("../images/instagram.jpg");
  background-size: 600px 120px;
}
#edmodo{
  float:right;
  bottom:144px;
  background-color:#4286f4;
}
h1{
  color:white;
  font-family: "Comic Sans MS";
  text-align:center;
  position: relative;
  top:20px;
}
